.pointer {
    cursor: pointer;
}

.searchBoxContainer {
  display: flex;
  flex-direction: row-reverse;
}
.searchBox {
  width: 400px;
  padding: 20px;
}

.flexRow {
  display: flex;
  flex-direction: row;
}

.full {
  flex: 1;
}